<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-1.4.0.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>


</head>
<body>

{{ script|safe }}
{{ div|safe }}


<body>
    <h3>Predict Conversion</h3>

<div>
  <form action="/result",method="POST">
    <label for="marketing_channel">Marketing Channel</label>
    <select id="marketing_channel" name="marketing_channel">
        <option value="Email">Email</option>
        <option value="House Ads">House Ads</option>
        <option value="Facebook">Facebook</option>
        <option value="Instagram">Instagram</option>
        <option value="Push">Push</option>
    </select>
    <br>
    <label for="subscribing_channel">Subscribing Channel</label>
    <select id="subscribing_channel" name="subscribing_channel">
        <option value="Email">Email</option>
        <option value="House Ads">House Ads</option>
        <option value="Facebook">Facebook</option>
        <option value="Instagram">Instagram</option>
        <option value="Push">Push</option>
    </select>
    <br>
    <label for="age_group">Age Group</label>
    <select id="age_group" name="age_group">
        <option value="0-18 years">0-18 years</option>
        <option value="19-24 years">19-24 years</option>
        <option value="24-30 years">24-30 years</option>
        <option value="30-36 years">30-36 years</option>
        <option value="36-45 years">36-45 years</option>
        <option value="45-55 years">45-55 years</option>
        <option value="55+ years">55+ years</option>
    </select>
      <br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>